<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Splitbill</title>
	<link rel="stylesheet" href="../static/friend_page.css" />
	<link rel="icon" type="image/x-icon" href="../../../photos/disc.png" style="border-radius: 50%;">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body class="back" >



	<header style="display: flex; align-items: center;">
		<!-- <img src="../../../photos/disc2.png" alt="MeloDisc" width="60" height="60" -->
			<!-- style="border-radius: 50%; display: inline-block; animation: rotate 5s infinite linear;margin-right: 10px;"> -->

		<h1 style="display: inline-block;font-family: 'Brush Script MT', cursive;">SplitBill</h1>
		<pre>  </pre>
		<div class="container">
			<h1 style="text-align: center; display: inline-block;">Friend Page</h1>
		</div>
		<div class="navigation">
			<nav>
				<h2 style="display: inline-block;"><a href="about.html">About</a></h2>
				<h2 style="display: inline-block;"><a href="{{url_for('homePage')}}">Log Out</a></h2>
			</nav>
		</div>
	</header>
	<br>
	<br>
	<br>
	<br>
    <br>
	<div>
		<h1 align="center" style="font-family:fantasy; font-size:70px; color:rgb(229, 206, 206)"><u>{{friend['uname']}}</u>
		</h1>
	</div>

	<div class="cylinder">

		<main class="stats">
			<h2 align="center">Stats</h2>
			<ul id="{{user['uid']}}">
				<li align="center" id="{{friend['uid']}}">
					<h3>You owe {{friend['uname']}} Rs. {{dues['u2f']}}</h3>
					<h3>{{friend['uname']}} owes you Rs. {{dues['f2u']}}</h3>
					{% if dues['overall']>0 %}
					<h3>Overall {{friend['uname']}} owes you Rs. {{dues['overall']}}</h3>
					{% elif dues['overall']==0 %}
					<h3>All Balanced</p>
					{% else %}
					<h3>Overall you owe {{friend['uname']}} Rs. {{-dues['overall']}}</h3>
					{% endif %}
				</li>
				
			</ul>
		</main>

	</div>

    <div class="container2">
            
        <div class="reviews">
          <div class="rev_inp">
          <!-- <br> -->
          <h1><u>Add Transaction</u></h2><br><br>
          <form action="/add_f_transaction" method="POST">
            <label for="description">Transaction Description:</label>
            <input type="text" id="description" name="description" required><br><br>
            <label for="amount">Transaction Amount:</label>
            <input type="text" id="amount" name="amount" required><br><br>
            <label for="uid" style="display: none;"></label>
            <input type="hidden" id="uid" name="uid" value="{{user['uid']}}">
            <label for="fid" style="display: none;"></label>
            <input type="hidden" id="fid" name="fid" value="{{friend['uid']}}">
            <div class="add_field">    
                <label for="submit-button" id="submit-button-label">
                    <input type="submit" id="submit-button" value="Confirm">
                </label>
            </div>
          </form>
        </div>
    </div>
    </div>
    <br>
    <br>

	<div class="cylinder">

		<main class="transactions">
			<h2 align="center">Transactions</h2>
			<ul id="{{user['uid']}}">
				{% for transaction in mutual_txns %}
				<li id="{{friend['uid']}}">
					<h3>{{ transaction['description'] }}</h3>
					{% if transaction['lender_id']==user['uid'] and transaction['completed']==0 %}
					<p>You are owed Rs. {{transaction['amount']}}</p>
					{% elif transaction['lender_id']==user['uid'] and transaction['completed']==1 %}
					<p>You have been paid Rs. {{transaction['amount']}}</p>
					{% elif transaction['borrower_id']==user['uid'] and transaction['completed']==0 %}
					<p>You have borrowed Rs. {{transaction['amount']}}</p>
					{% elif transaction['borrower_id']==user['uid'] and transaction['completed']==1 %}
					<p>You have paid Rs. {{transaction['amount']}}</p>
					{% endif %}
                    <!-- <button id="{{transaction['tid']}}" type="button">Delete</button> -->
				</li>
				{% endfor %}
				
			</ul>
		</main>

	</div>
    <br>
    <br>

	<footer>
		<div class="container">
			<h4 style="margin-bottom: 4px;">Split The Bill, Not The Friendship
			</h4>
			<h4 style="margin-bottom: 6px;"><a href="./about.html">About Us</a></h4>
			<h4>&copy; SplitBill</h4>
		</div>
	</footer>
	<script src="{{ url_for('static', filename='friend_transaction.js') }}"></script>
	<script src="{{ url_for('static', filename='f_t_delete.js') }}"></script>
</body>

</html>