* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 100%;
}

header {
  background-color: #232121;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

header h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

nav ul li a:hover {
  color: #ffd700;
}

footer {
  background-color: #232121;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav ul li:last-child a {
  color: #ffd700;
  font-weight: 600;
}


nav a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  transition: color 0.3s ease;
}

nav h2 {
  margin-top: 20px;
  margin-right: 20px;
}

nav h1 {
  margin-top: 5px;
}

.back {
  background-size: cover;
  background-position: center 90px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container2 {
  position: relative;
  width: 600px;
  height: 400px;
}

main {
  max-width: 890px;
  margin: 20px auto;
  padding: 20px;
  background-color: hsla(9, 21%, 25%, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

main ul {
  list-style: none;
  padding: 0;
}

.transactions li {
  display: grid;
  /* grid-template-columns: 750px 60px auto; */
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  transition: background-color 0.3s ease;
}

.friends li {
  display: grid;
  grid-template-columns: 720px 60px auto;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  transition: background-color 0.3s ease;
}

.groups li {
  display: grid;
  grid-template-columns: 720px 60px auto;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  transition: background-color 0.3s ease;
}

.transactions li:hover {
  background-color: rgba(209, 193, 193, 0.679);
}

main h3 {
  font-size: 1.5rem;
  margin-right: 20px;
  color: rgb(223, 211, 211);
}

main p {
  font-size: 1.2rem;
  color: white;
  justify-self: center;
}

footer a {
  color: #fff;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffd700;
}

button[type="button"] {
  width: 90px;
  background-color: #238226;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 25px;
}

.cylinder {
  margin:9px;
  display: grid;
  width: 95%;
  grid-template-columns:60% 40%;
  grid-gap: 10px;
}
.groups {
  grid-area: 1/1/2/2;
  overflow-y: scroll;
}

.friends {
  grid-area: 2/1/3/2;
  overflow-y:scroll ;
}

.transactions {
  grid-area: 1/2/3/3;
  overflow-y:scroll ;
}